/RandomFileSamplerApp/
/Random File Sampler Installer/
/src/dice-icon.ico
/src/build/
/src/dist/
filesampler_app.spec
GNU AGPLv3-license.txt
inno_installer_script.iss
inno_installer_script_with_iconfilename.iss